<%= form_with(model: citizen) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
        <% citizen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :full_name, autofocus: true, autocomplete: "full_name", type: "text", placeholder: "Full Name", class: "input" %>
  </div>

  <div class="field">
    <%= form.text_field :cpf, autofocus: true, autocomplete: "off", type: "number", placeholder: "CPF", class: "input", maxlength: "11" %>
  </div>

  <div class="field">
    <%= form.text_field :cns, autofocus: true, autocomplete: "cns", type: "number", placeholder: "CNS", class: "input" %>
  </div>

  <div class="field">
    <%= form.text_field :email, autofocus: true, autocomplete: "email", type: "email", placeholder: "E-mail", class: "input" %>
  </div>

  <div class="field">
    <%= form.text_field :birthdate, autofocus: true, autocomplete: "birthdate", type: "date", placeholder: "Birthdate", class: "input" %>
  </div>

  <div class="field">
    <%= form.text_field :phone, autofocus: true, autocomplete: "phone", type: "number", placeholder: "Phone", class: "input" %>
  </div>

  <div class="field">
    <%= form.select :status, options_for_select(Citizen.statuses.map {|key, value| [key.titleize, Citizen.statuses.key(value)]}, @citizen), {prompt: "Select Status"} %>
  </div>

  <div class="field">
    <%= form.text_field :photograph, autofocus: true, autocomplete: "photograph", type: "number", placeholder: "Photograph", class: "input" %>
  </div>

  <div class="field">
    <%= form.text_field :county_id, autofocus: true, autocomplete: "county", type: "text", placeholder: "County", class: "input" %>
  </div>

  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.text_field :postal_code, autofocus: true, type: "number", placeholder: "Postal Code", class: "input" %>
    </div>
    
    <div class="field">
      <%= address_fields.text_field :street, autofocus: true, type: "text", placeholder: "Street", class: "input" %>
    </div>
    
    <div class="field">
      <%= address_fields.text_field :district, autofocus: true, type: "text", placeholder: "District", class: "input" %>
    </div>
    
    <div class="field">
      <%= address_fields.text_field :city, autofocus: true, type: "text", placeholder: "City", class: "input" %>
    </div>
    
    <div class="field">
      <%= address_fields.text_field :state, autofocus: true, type: "text", placeholder: "State", class: "input" %>
    </div>

    <div class="field">
      <%= address_fields.text_field :ibge_code, autofocus: true, type: "number", placeholder: "IBGE Code", class: "input" %>
    </div>
  <% end %>
  

  <div>
    <%= link_to citizens_path do %>
      <button class="button-return">
        Return
      </button>
    <% end %>
      
    <button class="button-submit">
      Save
    </button> 
  </div>
<% end %>
