<h1><%= controller_name.titleize %></h1>

<span class="total-list">
  Total List: <%= @citizens.count %>
</span>

<table>
  <thead>
    <tr>
      <th style="width: 1%"></th>
      <th>Full name</th>
      <th>Cpf</th>
      <th>Cns</th>
      <th>Email</th>
      <th>Birthdate</th>
      <th>Phone</th>
      <th>County</th>
      <th>Created_at</th>
      <th>
        <%= link_to new_citizen_path do %>
          <i class='bx bx-plus' ></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td>
          <%= link_to citizen do %>
            <i class='bx bx-show'></i>
          <% end %>
        </td>
        <td><%= citizen.full_name %></td>
        <td><%= citizen.cpf %></td>
        <td><%= citizen.cns %></td>
        <td><%= citizen.email %></td>
        <td><%= citizen.birthdate.to_date.to_s(:rfc822) %></td>
        <td><%= citizen.phone %></td>
        <td><%= citizen.county.name %></td>
        <td><%= citizen.created_at.to_s(:short) %></td>
        <td>
          <%= link_to edit_citizen_path(citizen) do %>
            <i class="bx bx-edit" ></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @citizens %>
