<h1><%= controller_name.titleize %></h1>

<div>
  <strong>Full name:</strong>
  <%= @citizen.full_name %>
</div>

<br>

<div>
  <strong>Cpf:</strong>
  <%= @citizen.cpf %>
</div>

<br>

<div>
  <strong>Cns:</strong>
  <%= @citizen.cns %>
</div>

<br>

<div>
  <strong>Email:</strong>
  <%= @citizen.email %>
</div>

<br>

<div>
  <strong>Birthdate:</strong>
  <%= @citizen.birthdate %>
</div>

<br>

<div>
  <strong>Phone:</strong>
  <%= @citizen.phone %>
</div>

<br>

<div>
  <strong>Status:</strong>
  <%= @citizen.status %>
</div>

<br>

<div>
  <strong>Photograph:</strong>
  <%= @citizen.photograph %>
</div>

<br>

<div>
  <strong>County:</strong>
  <%= @citizen.county.name %>
</div>

<br> 

<%= link_to citizens_path do %>
  <button class="button-return">
    Return
  </button>
<% end %>
