<h1><%= controller_name.titleize %></h1>

<span class="total-list">
  Total List: <%= @counties.count %>
</span>

<table>
  <thead>
    <tr>
      <th style="width: 1%"></th>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th>Created_at</th>
      <th>
        <% if current_user.role == "admin" %>
          <%= link_to new_county_path do %>
            <i class='bx bx-plus' ></i>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @counties.each do |county| %>
      <tr>
        <td>
          <%= link_to county do %>
            <i class='bx bx-show'></i>
          <% end %>
        </td>
        <td><%= county.name %></td>
        <td><%= county.status %></td>
        <td><%= county.user.name %></td>
        <td><%= county.created_at.to_s(:short) %></td>
        <td>
          <% if current_user.role == "admin" %>
            <%= link_to edit_county_path(county) do %>
              <i class="bx bx-edit" ></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @counties %>
