<p id="notice"><%= notice %></p>

<p>
  <strong>Postal code:</strong>
  <%= @adress.postal_code %>
</p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @adress.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @adress.state %>
</p>

<p>
  <strong>Ibge code:</strong>
  <%= @adress.ibge_code %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @adress.citizen %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
